<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
      <label class="sr-only" for="room-pass">Insira uma senha</label>
      <!-- esse código deixara a label invisível para o leitor e acessível para o navegador -->
      <input type="password" name="password" id="room-pass" placeholder="Insira uma senha">
      <button>
          <img src="/images/users-white.svg" alt="Entrar na sala">
          Criar sala
          </button>
  </form>
</section>
